<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni0000</key>
    <string>uni0000.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>uni00B2</key>
    <string>uni00B_2.glif</string>
    <key>uni00B3</key>
    <string>uni00B_3.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>uni00B9</key>
    <string>uni00B_9.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>uni0122</key>
    <string>uni0122.glif</string>
    <key>uni0123</key>
    <string>uni0123.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>uni0136</key>
    <string>uni0136.glif</string>
    <key>uni0137</key>
    <string>uni0137.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>uni013B</key>
    <string>uni013B_.glif</string>
    <key>uni013C</key>
    <string>uni013C_.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>uni0145</key>
    <string>uni0145.glif</string>
    <key>uni0146</key>
    <string>uni0146.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif</string>
    <key>obreve</key>
    <string>obreve.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>uni0156</key>
    <string>uni0156.glif</string>
    <key>uni0157</key>
    <string>uni0157.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>uni0162</key>
    <string>uni0162.glif</string>
    <key>uni0163</key>
    <string>uni0163.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>uni0218</key>
    <string>uni0218.glif</string>
    <key>uni0219</key>
    <string>uni0219.glif</string>
    <key>uni021A</key>
    <string>uni021A_.glif</string>
    <key>uni021B</key>
    <string>uni021B_.glif</string>
    <key>uni0237</key>
    <string>uni0237.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>uni02C9</key>
    <string>uni02C_9.glif</string>
    <key>uni02CA</key>
    <string>uni02C_A_.glif</string>
    <key>uni02CB</key>
    <string>uni02C_B_.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>uni0302</key>
    <string>uni0302.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni030A</key>
    <string>uni030A_.glif</string>
    <key>uni030B</key>
    <string>uni030B_.glif</string>
    <key>uni030C</key>
    <string>uni030C_.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>uni0326</key>
    <string>uni0326.glif</string>
    <key>uni0327</key>
    <string>uni0327.glif</string>
    <key>uni0328</key>
    <string>uni0328.glif</string>
    <key>uni0331</key>
    <string>uni0331.glif</string>
    <key>uni1100</key>
    <string>uni1100.glif</string>
    <key>uni1101</key>
    <string>uni1101.glif</string>
    <key>uni1102</key>
    <string>uni1102.glif</string>
    <key>uni1103</key>
    <string>uni1103.glif</string>
    <key>uni1104</key>
    <string>uni1104.glif</string>
    <key>uni1105</key>
    <string>uni1105.glif</string>
    <key>uni1106</key>
    <string>uni1106.glif</string>
    <key>uni1107</key>
    <string>uni1107.glif</string>
    <key>uni1108</key>
    <string>uni1108.glif</string>
    <key>uni1109</key>
    <string>uni1109.glif</string>
    <key>uni110A</key>
    <string>uni110A_.glif</string>
    <key>uni110B</key>
    <string>uni110B_.glif</string>
    <key>uni110C</key>
    <string>uni110C_.glif</string>
    <key>uni110D</key>
    <string>uni110D_.glif</string>
    <key>uni110E</key>
    <string>uni110E_.glif</string>
    <key>uni110F</key>
    <string>uni110F_.glif</string>
    <key>uni1110</key>
    <string>uni1110.glif</string>
    <key>uni1111</key>
    <string>uni1111.glif</string>
    <key>uni1112</key>
    <string>uni1112.glif</string>
    <key>uni1113</key>
    <string>uni1113.glif</string>
    <key>uni1114</key>
    <string>uni1114.glif</string>
    <key>uni1115</key>
    <string>uni1115.glif</string>
    <key>uni1116</key>
    <string>uni1116.glif</string>
    <key>uni1117</key>
    <string>uni1117.glif</string>
    <key>uni1118</key>
    <string>uni1118.glif</string>
    <key>uni1119</key>
    <string>uni1119.glif</string>
    <key>uni111A</key>
    <string>uni111A_.glif</string>
    <key>uni111B</key>
    <string>uni111B_.glif</string>
    <key>uni111C</key>
    <string>uni111C_.glif</string>
    <key>uni111D</key>
    <string>uni111D_.glif</string>
    <key>uni111E</key>
    <string>uni111E_.glif</string>
    <key>uni111F</key>
    <string>uni111F_.glif</string>
    <key>uni1120</key>
    <string>uni1120.glif</string>
    <key>uni1121</key>
    <string>uni1121.glif</string>
    <key>uni1122</key>
    <string>uni1122.glif</string>
    <key>uni1123</key>
    <string>uni1123.glif</string>
    <key>uni1124</key>
    <string>uni1124.glif</string>
    <key>uni1125</key>
    <string>uni1125.glif</string>
    <key>uni1126</key>
    <string>uni1126.glif</string>
    <key>uni1127</key>
    <string>uni1127.glif</string>
    <key>uni1128</key>
    <string>uni1128.glif</string>
    <key>uni1129</key>
    <string>uni1129.glif</string>
    <key>uni112A</key>
    <string>uni112A_.glif</string>
    <key>uni112B</key>
    <string>uni112B_.glif</string>
    <key>uni112C</key>
    <string>uni112C_.glif</string>
    <key>uni112D</key>
    <string>uni112D_.glif</string>
    <key>uni112E</key>
    <string>uni112E_.glif</string>
    <key>uni112F</key>
    <string>uni112F_.glif</string>
    <key>uni1130</key>
    <string>uni1130.glif</string>
    <key>uni1131</key>
    <string>uni1131.glif</string>
    <key>uni1132</key>
    <string>uni1132.glif</string>
    <key>uni1133</key>
    <string>uni1133.glif</string>
    <key>uni1134</key>
    <string>uni1134.glif</string>
    <key>uni1135</key>
    <string>uni1135.glif</string>
    <key>uni1136</key>
    <string>uni1136.glif</string>
    <key>uni1137</key>
    <string>uni1137.glif</string>
    <key>uni1138</key>
    <string>uni1138.glif</string>
    <key>uni1139</key>
    <string>uni1139.glif</string>
    <key>uni113A</key>
    <string>uni113A_.glif</string>
    <key>uni113B</key>
    <string>uni113B_.glif</string>
    <key>uni113C</key>
    <string>uni113C_.glif</string>
    <key>uni113D</key>
    <string>uni113D_.glif</string>
    <key>uni113E</key>
    <string>uni113E_.glif</string>
    <key>uni113F</key>
    <string>uni113F_.glif</string>
    <key>uni1140</key>
    <string>uni1140.glif</string>
    <key>uni1141</key>
    <string>uni1141.glif</string>
    <key>uni1142</key>
    <string>uni1142.glif</string>
    <key>uni1143</key>
    <string>uni1143.glif</string>
    <key>uni1144</key>
    <string>uni1144.glif</string>
    <key>uni1145</key>
    <string>uni1145.glif</string>
    <key>uni1146</key>
    <string>uni1146.glif</string>
    <key>uni1147</key>
    <string>uni1147.glif</string>
    <key>uni1148</key>
    <string>uni1148.glif</string>
    <key>uni1149</key>
    <string>uni1149.glif</string>
    <key>uni114A</key>
    <string>uni114A_.glif</string>
    <key>uni114B</key>
    <string>uni114B_.glif</string>
    <key>uni114C</key>
    <string>uni114C_.glif</string>
    <key>uni114D</key>
    <string>uni114D_.glif</string>
    <key>uni114E</key>
    <string>uni114E_.glif</string>
    <key>uni114F</key>
    <string>uni114F_.glif</string>
    <key>uni1150</key>
    <string>uni1150.glif</string>
    <key>uni1151</key>
    <string>uni1151.glif</string>
    <key>uni1152</key>
    <string>uni1152.glif</string>
    <key>uni1153</key>
    <string>uni1153.glif</string>
    <key>uni1154</key>
    <string>uni1154.glif</string>
    <key>uni1155</key>
    <string>uni1155.glif</string>
    <key>uni1156</key>
    <string>uni1156.glif</string>
    <key>uni1157</key>
    <string>uni1157.glif</string>
    <key>uni1158</key>
    <string>uni1158.glif</string>
    <key>uni1159</key>
    <string>uni1159.glif</string>
    <key>uni115A</key>
    <string>uni115A_.glif</string>
    <key>uni115B</key>
    <string>uni115B_.glif</string>
    <key>uni115C</key>
    <string>uni115C_.glif</string>
    <key>uni115D</key>
    <string>uni115D_.glif</string>
    <key>uni115E</key>
    <string>uni115E_.glif</string>
    <key>uni115F</key>
    <string>uni115F_.glif</string>
    <key>uni1160</key>
    <string>uni1160.glif</string>
    <key>uni1161</key>
    <string>uni1161.glif</string>
    <key>uni1162</key>
    <string>uni1162.glif</string>
    <key>uni1163</key>
    <string>uni1163.glif</string>
    <key>uni1164</key>
    <string>uni1164.glif</string>
    <key>uni1165</key>
    <string>uni1165.glif</string>
    <key>uni1166</key>
    <string>uni1166.glif</string>
    <key>uni1167</key>
    <string>uni1167.glif</string>
    <key>uni1168</key>
    <string>uni1168.glif</string>
    <key>uni1169</key>
    <string>uni1169.glif</string>
    <key>uni116A</key>
    <string>uni116A_.glif</string>
    <key>uni116B</key>
    <string>uni116B_.glif</string>
    <key>uni116C</key>
    <string>uni116C_.glif</string>
    <key>uni116D</key>
    <string>uni116D_.glif</string>
    <key>uni116E</key>
    <string>uni116E_.glif</string>
    <key>uni116F</key>
    <string>uni116F_.glif</string>
    <key>uni1170</key>
    <string>uni1170.glif</string>
    <key>uni1171</key>
    <string>uni1171.glif</string>
    <key>uni1172</key>
    <string>uni1172.glif</string>
    <key>uni1173</key>
    <string>uni1173.glif</string>
    <key>uni1174</key>
    <string>uni1174.glif</string>
    <key>uni1175</key>
    <string>uni1175.glif</string>
    <key>uni1176</key>
    <string>uni1176.glif</string>
    <key>uni1177</key>
    <string>uni1177.glif</string>
    <key>uni1178</key>
    <string>uni1178.glif</string>
    <key>uni1179</key>
    <string>uni1179.glif</string>
    <key>uni117A</key>
    <string>uni117A_.glif</string>
    <key>uni117B</key>
    <string>uni117B_.glif</string>
    <key>uni117C</key>
    <string>uni117C_.glif</string>
    <key>uni117D</key>
    <string>uni117D_.glif</string>
    <key>uni117E</key>
    <string>uni117E_.glif</string>
    <key>uni117F</key>
    <string>uni117F_.glif</string>
    <key>uni1180</key>
    <string>uni1180.glif</string>
    <key>uni1181</key>
    <string>uni1181.glif</string>
    <key>uni1182</key>
    <string>uni1182.glif</string>
    <key>uni1183</key>
    <string>uni1183.glif</string>
    <key>uni1184</key>
    <string>uni1184.glif</string>
    <key>uni1185</key>
    <string>uni1185.glif</string>
    <key>uni1186</key>
    <string>uni1186.glif</string>
    <key>uni1187</key>
    <string>uni1187.glif</string>
    <key>uni1188</key>
    <string>uni1188.glif</string>
    <key>uni1189</key>
    <string>uni1189.glif</string>
    <key>uni118A</key>
    <string>uni118A_.glif</string>
    <key>uni118B</key>
    <string>uni118B_.glif</string>
    <key>uni118C</key>
    <string>uni118C_.glif</string>
    <key>uni118D</key>
    <string>uni118D_.glif</string>
    <key>uni118E</key>
    <string>uni118E_.glif</string>
    <key>uni118F</key>
    <string>uni118F_.glif</string>
    <key>uni1190</key>
    <string>uni1190.glif</string>
    <key>uni1191</key>
    <string>uni1191.glif</string>
    <key>uni1192</key>
    <string>uni1192.glif</string>
    <key>uni1193</key>
    <string>uni1193.glif</string>
    <key>uni1194</key>
    <string>uni1194.glif</string>
    <key>uni1195</key>
    <string>uni1195.glif</string>
    <key>uni1196</key>
    <string>uni1196.glif</string>
    <key>uni1197</key>
    <string>uni1197.glif</string>
    <key>uni1198</key>
    <string>uni1198.glif</string>
    <key>uni1199</key>
    <string>uni1199.glif</string>
    <key>uni119A</key>
    <string>uni119A_.glif</string>
    <key>uni119B</key>
    <string>uni119B_.glif</string>
    <key>uni119C</key>
    <string>uni119C_.glif</string>
    <key>uni119D</key>
    <string>uni119D_.glif</string>
    <key>uni119E</key>
    <string>uni119E_.glif</string>
    <key>uni119F</key>
    <string>uni119F_.glif</string>
    <key>uni11A0</key>
    <string>uni11A_0.glif</string>
    <key>uni11A1</key>
    <string>uni11A_1.glif</string>
    <key>uni11A2</key>
    <string>uni11A_2.glif</string>
    <key>uni11A3</key>
    <string>uni11A_3.glif</string>
    <key>uni11A4</key>
    <string>uni11A_4.glif</string>
    <key>uni11A5</key>
    <string>uni11A_5.glif</string>
    <key>uni11A6</key>
    <string>uni11A_6.glif</string>
    <key>uni11A7</key>
    <string>uni11A_7.glif</string>
    <key>uni11A8</key>
    <string>uni11A_8.glif</string>
    <key>uni11A9</key>
    <string>uni11A_9.glif</string>
    <key>uni11AA</key>
    <string>uni11A_A_.glif</string>
    <key>uni11AB</key>
    <string>uni11A_B_.glif</string>
    <key>uni11AC</key>
    <string>uni11A_C_.glif</string>
    <key>uni11AD</key>
    <string>uni11A_D_.glif</string>
    <key>uni11AE</key>
    <string>uni11A_E_.glif</string>
    <key>uni11AF</key>
    <string>uni11A_F_.glif</string>
    <key>uni11B0</key>
    <string>uni11B_0.glif</string>
    <key>uni11B1</key>
    <string>uni11B_1.glif</string>
    <key>uni11B2</key>
    <string>uni11B_2.glif</string>
    <key>uni11B3</key>
    <string>uni11B_3.glif</string>
    <key>uni11B4</key>
    <string>uni11B_4.glif</string>
    <key>uni11B5</key>
    <string>uni11B_5.glif</string>
    <key>uni11B6</key>
    <string>uni11B_6.glif</string>
    <key>uni11B7</key>
    <string>uni11B_7.glif</string>
    <key>uni11B8</key>
    <string>uni11B_8.glif</string>
    <key>uni11B9</key>
    <string>uni11B_9.glif</string>
    <key>uni11BA</key>
    <string>uni11B_A_.glif</string>
    <key>uni11BB</key>
    <string>uni11B_B_.glif</string>
    <key>uni11BC</key>
    <string>uni11B_C_.glif</string>
    <key>uni11BD</key>
    <string>uni11B_D_.glif</string>
    <key>uni11BE</key>
    <string>uni11B_E_.glif</string>
    <key>uni11BF</key>
    <string>uni11B_F_.glif</string>
    <key>uni11C0</key>
    <string>uni11C_0.glif</string>
    <key>uni11C1</key>
    <string>uni11C_1.glif</string>
    <key>uni11C2</key>
    <string>uni11C_2.glif</string>
    <key>uni11C3</key>
    <string>uni11C_3.glif</string>
    <key>uni11C4</key>
    <string>uni11C_4.glif</string>
    <key>uni11C5</key>
    <string>uni11C_5.glif</string>
    <key>uni11C6</key>
    <string>uni11C_6.glif</string>
    <key>uni11C7</key>
    <string>uni11C_7.glif</string>
    <key>uni11C8</key>
    <string>uni11C_8.glif</string>
    <key>uni11C9</key>
    <string>uni11C_9.glif</string>
    <key>uni11CA</key>
    <string>uni11C_A_.glif</string>
    <key>uni11CB</key>
    <string>uni11C_B_.glif</string>
    <key>uni11CC</key>
    <string>uni11C_C_.glif</string>
    <key>uni11CD</key>
    <string>uni11C_D_.glif</string>
    <key>uni11CE</key>
    <string>uni11C_E_.glif</string>
    <key>uni11CF</key>
    <string>uni11C_F_.glif</string>
    <key>uni11D0</key>
    <string>uni11D_0.glif</string>
    <key>uni11D1</key>
    <string>uni11D_1.glif</string>
    <key>uni11D2</key>
    <string>uni11D_2.glif</string>
    <key>uni11D3</key>
    <string>uni11D_3.glif</string>
    <key>uni11D4</key>
    <string>uni11D_4.glif</string>
    <key>uni11D5</key>
    <string>uni11D_5.glif</string>
    <key>uni11D6</key>
    <string>uni11D_6.glif</string>
    <key>uni11D7</key>
    <string>uni11D_7.glif</string>
    <key>uni11D8</key>
    <string>uni11D_8.glif</string>
    <key>uni11D9</key>
    <string>uni11D_9.glif</string>
    <key>uni11DA</key>
    <string>uni11D_A_.glif</string>
    <key>uni11DB</key>
    <string>uni11D_B_.glif</string>
    <key>uni11DC</key>
    <string>uni11D_C_.glif</string>
    <key>uni11DD</key>
    <string>uni11D_D_.glif</string>
    <key>uni11DE</key>
    <string>uni11D_E_.glif</string>
    <key>uni11DF</key>
    <string>uni11D_F_.glif</string>
    <key>uni11E0</key>
    <string>uni11E_0.glif</string>
    <key>uni11E1</key>
    <string>uni11E_1.glif</string>
    <key>uni11E2</key>
    <string>uni11E_2.glif</string>
    <key>uni11E3</key>
    <string>uni11E_3.glif</string>
    <key>uni11E4</key>
    <string>uni11E_4.glif</string>
    <key>uni11E5</key>
    <string>uni11E_5.glif</string>
    <key>uni11E6</key>
    <string>uni11E_6.glif</string>
    <key>uni11E7</key>
    <string>uni11E_7.glif</string>
    <key>uni11E8</key>
    <string>uni11E_8.glif</string>
    <key>uni11E9</key>
    <string>uni11E_9.glif</string>
    <key>uni11EA</key>
    <string>uni11E_A_.glif</string>
    <key>uni11EB</key>
    <string>uni11E_B_.glif</string>
    <key>uni11EC</key>
    <string>uni11E_C_.glif</string>
    <key>uni11ED</key>
    <string>uni11E_D_.glif</string>
    <key>uni11EE</key>
    <string>uni11E_E_.glif</string>
    <key>uni11EF</key>
    <string>uni11E_F_.glif</string>
    <key>uni11F0</key>
    <string>uni11F_0.glif</string>
    <key>uni11F1</key>
    <string>uni11F_1.glif</string>
    <key>uni11F2</key>
    <string>uni11F_2.glif</string>
    <key>uni11F3</key>
    <string>uni11F_3.glif</string>
    <key>uni11F4</key>
    <string>uni11F_4.glif</string>
    <key>uni11F5</key>
    <string>uni11F_5.glif</string>
    <key>uni11F6</key>
    <string>uni11F_6.glif</string>
    <key>uni11F7</key>
    <string>uni11F_7.glif</string>
    <key>uni11F8</key>
    <string>uni11F_8.glif</string>
    <key>uni11F9</key>
    <string>uni11F_9.glif</string>
    <key>uni11FA</key>
    <string>uni11F_A_.glif</string>
    <key>uni11FB</key>
    <string>uni11F_B_.glif</string>
    <key>uni11FC</key>
    <string>uni11F_C_.glif</string>
    <key>uni11FD</key>
    <string>uni11F_D_.glif</string>
    <key>uni11FE</key>
    <string>uni11F_E_.glif</string>
    <key>uni11FF</key>
    <string>uni11F_F_.glif</string>
  </dict>
</plist>
